/* --------------------------------------------------------------- *
 * Strip unit from length
 * --------------------------------------------------------------- */

/**
 * Strip unit from length
 * ---------------------------------------------------------------
 * @example strip-unit(42em) => 42
 * @example strip-unit(buzz) => false
 * ---------------------------------------------------------------
 * @param $value : length to strip unit from
 * ---------------------------------------------------------------
 * @raise [Error] if $value not a number
 * ---------------------------------------------------------------
 * @return [Number] | false
 */
@function strip-unit($value) {
  @if type-of($value) != number {
    @warn "#{$value} is not a number for `strip-unit`.";
    @return false;
  }
  
  @return $value / ($value * 0 + 1);
}
