/* --------------------------------------------------------------- *
 * A couple of advanced Sass list functions
 * --------------------------------------------------------------- *
 * first($list)
 * last($list)
 * to-string($list, $glue: '', $is-nested: false)
 * last-index($list, $value)
 * prepend($list, $value)
 * insert-at($list, $index, $value)
 * replace($list, $old-value, $new-value, $recursive: false)
 * replace-at($list, $index, $value)
 * remove($list, $value, $recursive: false)
 * remove-at($list, $index)
 * slice($list, $start: 1, $end: length($list))
 * reverse($list, $recursive: false)
 * loop($list, $value: 1)
 * --------------------------------------------------------------- *
 * CodePen: http://codepen.io/HugoGiraudel/pen/loAgq
 * Repository: https://github.com/HugoGiraudel/Sass-snippets/blob/master/src/list-functions/
 * --------------------------------------------------------------- */


/**
 * Returns first element of $list
 * ---------------------------------------------------------------
 * $list : list
 */
@function first($list) {
  @return nth($list, 1);
}

/**
 * Returns last element of $list
 * ---------------------------------------------------------------
 * $list : list
 */
@function last($list) {
  @return nth($list, length($list));
}

/**
 * Joins all elements of $list with $glue
 * ---------------------------------------------------------------
 * $list      : list
 * $glue      : value to use as a join string
 * $is-nested : strictly internal boolean for recursivity
 */
@function to-string($list, $glue: '', $is-nested: false) {
  $result: null;

  @for $i from 1 through length($list) {
    $e: nth($list, $i);

    @if type-of($e) == list {
      $result: $result#{to-string($e, $glue, true)};
    }
    
    @else {
      $result: if($i != length($list) or $is-nested, $result#{$e}#{$glue}, $result#{$e});
    }
  }

  @return $result;
}

/**
 * Returns last index of $value in $list
 * ---------------------------------------------------------------
 * $list  : list
 * $value : value to be searched for
 */
@function last-index($list, $value) {
  @for $i from length($list)*-1 through -1 {
    @if nth($list, abs($i)) == $value {
      @return abs($i);
    }
  }

  @return null;
}

/**
 * Add $value as first index of $list
 * ---------------------------------------------------------------
 * $list  : list
 * $value : value to prepend to the list
 */
@function prepend($list, $value) {
  @return join($value, $list);
}

/** 
 * Add $value at $index in $list
 * If $index is < 1, throws error
 * If $index > length($list), append $value to $list
 * ---------------------------------------------------------------
 * $list  : list
 * $index : index to add
 * $value : value to add
 */
@function insert-at($list, $index, $value) {
  $result: ();

  @if $index < 1 {
    @warn "The index has to be a positive integer.";
  }

  @else if $index > length($list) {
    @warn "The index has to be within list range.";
  }

  @else {
    @for $i from 1 through length($list) {
      @if $i == $index {
        $result: append($result, $value);
      }

      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}

/**
 * Replace value at $index from $list by $value
 * ---------------------------------------------------------------
 * $list  : list
 * $index : index to update
 * $value : new value for index $index
 */
@function replace-at($list, $index, $value) {
  $result: ();

  @if $index < 1 {
    @warn "The index has to be a positive integer.";
  }

  @else if $index > length($list) {
    @warn "The index has to be within list range.";
  }

  @else {
    @for $i from 1 through length($list) {
      @if $i == $index {
        $result: append($result, $value);
      }

      @else {
        $result: append($result, nth($list, $i));
      }
    }
  }
  @return $result;
}

/** 
 * Replace $old-value by $new-value in $list
 * ---------------------------------------------------------------
 * $list  : list
 * $old-value : value to replace
 * $new-value : new value for $old-value
 * $recursive : enable / disable recursivity
 */
@function replace($list, $old-value, $new-value, $recursive: false) {
  $result: ();

  @for $i from 1 through length($list) {
    @if type-of(nth($list, $i)) == list and $recursive {
      $result: append($result, replace(nth($list, $i), $old-value, $new-value, $recursive));
    }

    @else {
      @if nth($list, $i) == $old-value {
        $result: append($result, $new-value);
      }

      @else {
        $result: append($result, nth($list, $i));
      }
    }
  }

  @return $result;
}

/**
 * Remove value from $list at index $index
 * ---------------------------------------------------------------
 * $list  : list
 * $index : index to remove
 */
@function remove-at($list, $index) {
  $result: ();

  @if $index < 1 {
    @warn "The index has to be a positive integer.";
  }

  @else if $index > length($list) {
    @warn "The index has to be within list range.";
  }

  @for $i from 1 through length($list) {
    @if $i != $index {
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}

/**
 * Remove value(s) $value from $list
 * ---------------------------------------------------------------
 * $list      : list
 * $value     : value to remove
 * $recursive : enable / disable recursivity
 */
@function remove($list, $value, $recursive: false) {
  $result: ();

  @for $i from 1 through length($list) {
    @if type-of(nth($list, $i)) == list and $recursive {
      $result: append($result, remove(nth($list, $i), $value, $recursive));
    }

    @else if nth($list, $i) != $value {
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}

/**
 * Slices $list between $start and $end
 * ---------------------------------------------------------------
 * $list  : list
 * $start : start index
 * $end   : end index
 */ 
@function slice($list, $start: 1, $end: length($list)) {
  $result: ();

  @if $start > $end {
    @warn "The start index has to be lesser than or equals to the end index.";
  }

  @else if $start < 1 or $end < 1 {
    @warn "The indexes have to be positive integers.";
  }

  @else if $start > length($list) or $end > length($list) {
    @warn "The index has to be within list range.";
  }
  
  @else {
    @for $i from $start through $end {
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}
    
/**
 * Reverses the order of $list
 * ---------------------------------------------------------------
 * $list      : list
 * $recursive : enable / disable recursivity
 */
@function reverse($list, $recursive: false) {
   $result: ();

   @for $i from length($list)*-1 through -1 {
      @if type-of(nth($list, abs($i))) == list and $recursive {
        $result: append($result, reverse(nth($list, abs($i)), $recursive));      
      }

      @else {
        $result: append($result, nth($list, abs($i)));
      }
   }

   @return $result;
}

/**
 * Shift indexes from $list of $value
 * ---------------------------------------------------------------
 * $list  : list
 * $value : number of position between old and new indexes
 */
@function loop($list, $value: 1) {
  $result: ();
    
  @for $i from 0 to length($list) {
    $result: append($result, nth($list, ($i - $value) % length($list) + 1));
  }
  
  @return $result;
}


/**
 * Usage
 */
$list: a, b, c, d c, e, f, c;

$test-first: first($list);                    // a

$test-last: last($list);                      // c

$test-to-string: to-string($list);            // abcdcefc
$test-to-string: to-string($list, "-");       // a-b-c-d-c-e-f-c

$test-last-index: last-index($list, c);       // 7
$test-last-index: last-index($list, z);       // null

$test-prepend: prepend($list, z);             // z, a, b, c, d c, e, f, c
$test-prepend: prepend($list, y z);           // y z, a, b, c, d c, e, f, c

$test-insert-at: insert-at($list, -1, z);     // error
$test-insert-at: insert-at($list, 0, z);      // error
$test-insert-at: insert-at($list, 4, z);      // a, b, c, z, d c, e, f, c
$test-insert-at: insert-at($list, 100, z);    // error

$test-replace: replace($list, c, z);          // a, b, z, d c, e, f, z
$test-replace: replace($list, c, z, true);    // a, b, z, d z, e, f, z
$test-replace: replace($list, z, y);          // a, b, c, d c, e, f, c

$test-replace-at: replace-at($list, -1, z);   // error
$test-replace-at: replace-at($list, 0, z);    // error
$test-replace-at: replace-at($list, 4, z);    // a, b, c, z, e, f, c
$test-replace-at: replace-at($list, 100, z);  // error

$test-remove: remove($list, c);               // a, b, d c, e, f
$test-remove: remove($list, c, true);         // a, b, d, e, f
$test-remove: remove($list, z);               // a, b, c, d c, e, f, c

$test-remove-at: remove-at($list, -1);        // error
$test-remove-at: remove-at($list, 0);         // error
$test-remove-at: remove-at($list, 1);         // b, c, d c, e, f, c
$test-remove-at: remove-at($list, 100);       // error

$test-slice: slice($list);                    // a, b, c, d c, e, f, c
$test-slice: slice($list, 3, 6);              // c, d c, e, f
$test-slice: slice($list, 5, 4);              // error
$test-slice: slice($list, -100, 100);         // error

$test-reverse: reverse($list);                // c, f, e, d c, c, b, a
$test-reverse: reverse($list, true);          // c, f, e, c d, c, b, a

$test-loop: loop($list);                      // c, a, b, c, d c, e, f
$test-loop: loop($list, 2);                   // f, c, a, b, c, d c, e
$test-loop: loop($list, -2);                  // c, d c, e, f, c, a, b