/** 
 * Add $value at $index in $list
 * If $index is < 1, throws error
 * If $index > length($list), append $value to $list
 * ---------------------------------------------------------------
 * $list  : list
 * $index : index to add
 * $value : value to add
 */
@function insert-at($list, $index, $value) {
  $result: ();

  @if $index < 1 {
    @warn "The index has to be a positive integer.";
  }

  @else if $index > length($list) {
    $result: append($list, $value);
  }

  @else {
    @for $i from 1 through length($list) {
      @if $i == $index {
        $result: append($result, $value);
      }
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}