/** 
 * Add $value at index $needle in $haystack
 * If $needle is < 1, throws error
 * If $needle > length($haystack), append $value to $haystack
 * ---------------------------------------------------------------
 * $haystack : list
 * $needle   : index to add
 * $value    : value to add
 */
@function insert-at($haystack, $needle, $value) {
  $new: ();

  @if $needle < 1 {
    @warn "The needle has to be a positive integer.";
  }

  @else if $needle > length($haystack) {
    $new: append($haystack, $value);
  }

  @else {
    @for $i from 1 through length($haystack) {
      @if $i == $needle {
        $new: append($new, $value);
      }
      $new: append($new, nth($haystack, $i));
    }
  }

  @return $new;
}