/**
 * Replace value at $index from $list by $value
 * ---------------------------------------------------------------
 * $list  : list
 * $index : index to update
 * $value : new value for index $index
 */
@function replace-at($list, $index, $value) {
  $result: ();

  @if $index < 1 {
    @warn "The index has to be a positive integer.";
  }

  @for $i from 1 through length($list) {
    @if $i == $index {
      $result: append($result, $value);
    }
    @else {
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}