/**
 * Slices $list between $start and $end
 * ---------------------------------------------------------------
 * $list  : list
 * $start : start index
 * $end   : end index
 */ 
@function slice($list, $start: 1, $end: length($list)) {
  $result: ();
  $start: if($start <= 0, 1, if($start > length($list), length($list), $start));
  $end: if($end > length($list), length($list), if($end < $start, $start, $end));

  @for $i from $start through $end {
     $result: append($result, nth($list, $i));
  }

  @return $result;
}