/**
 * Joins all elements of $haystack with $glue
 * ---------------------------------------------------------------
 * $haystack  : list
 * $glue      : value to use as a joiner
 * $is-nested : strictly internal boolean for recursivity
 */
@function to-string($haystack, $glue: '', $is-nested: false) {
  $new: null;

  @for $i from 1 through length($haystack) {
    $e: nth($haystack, $i);

    @if type-of($e) == list {
      $new: $new#{to-string($e, $glue, true)};
    }
    
    @else {
      $new: if($i != length($haystack) or $is-nested, $new#{$e}#{$glue}, $new#{$e});
    }
  }

  @return $new;
}