/**
 * Joins all elements of $haystack with $value
 * ---------------------------------------------------------------
 * $haystack  : list
 * $value     : value to use as a joiner
 * $is-nested : strictly internal boolean for recursivity
 */
@function to-string($haystack, $value: '', $is-nested: false) {
  $new: null;

  @for $i from 1 through length($haystack) {
    $e: nth($haystack, $i);

    @if type-of($e) == list {
      $new: $new#{to-string($e, $value, true)};
    }
    
    @else {
      $new: $new#{$e};
      @if $i != length($haystack) or $is-nested {
        $new: $new#{$value};
      }
    }
  }

  @return $new;
}